.header {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 100px;

    box-shadow: $main-shadow;
    position: relative;

    &-content {
        grid-column: 2;
        display: flex;
        justify-content: space-between;
        align-self: center;
        align-items: baseline;
    }

    &-title {
        margin: 0;
        font-size: 30px;
    }

    &__blue-title {
        color: $main-color;
    }

    &__logo {
        width: 15px;
        height: 15px;
    }

    &-navigation {
        display: flex;
        gap: $main-gap;
    }
}