* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(220, 190, 180);
}

header,
footer {
    background-color: rgb(220, 190, 180);
}

header,
footer {
    width: 800px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

header img {
    height: 50px;
}

header ul {
    display: flex;
    list-style: none;
}

header li:not(:last-child) {
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

article {
    width: 800px;
}

main article img {
    width: 200px;
}

.maincontent {
    background-color: white;
}